@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

spinbuttonsH
{
	-moz-binding: url("spinbuttons.xml#spinbuttonsH");
}

spinbuttonsV
{
	-moz-binding: url("spinbuttons.xml#spinbuttonsV");
}

checkbox[right="true"]
{
	-moz-binding: url("checkbox.xml#checkbox-right");
}
checkbox:focus > .checkbox-label-box {
	border: 1px dotted ThreeDDarkShadow;
}

.spinbutton,
.spinbutton[disabled="true"]
{
	margin-right: 0 !important;
}

.up
{
	list-style-image: url("images/up.png");
}

.down
{
	list-style-image: url("images/down.png");
}
.up,
.down,
.up[disabled="true"],
.down[disabled="true"]
{
	min-width: 0px;
	min-height: 0px;
	width: 9px;
	cursor: pointer;
	-moz-appearance: none;
	border: 0;
	padding: 0;
	margin: 0;
	-moz-user-focus: ignore;
}
.up[disabled="true"],
.down[disabled="true"]
{
	cursor: auto;
	opacity: 0.4;
}

.up .button-box,
.down .button-box,
.up[disabled="true"] .button-box,
.down[disabled="true"] .button-box
{
	padding: 0 !important;
	margin: 0 !important;
}

#vbox_pop > image
{
	padding-left: 0.3em;
	padding-right: 0.1em;
}

.lbl_pop
{
	font-weight: bold;
	text-align: left;
	vertical-align: bottom;
}

.calendar
{
	cursor:pointer;
	margin-left: 2px;
	margin-right: 2px;
	list-style-image: url("images/calendar.png");
}

.calendar[disabled="true"]
{
	cursor:auto;
	list-style-image: url("images/calendar_dis.png");
}

#ifl_expires_date
{
	margin-right:0;
	text-align: right;
}

#ifl_expires_time
{
	margin-left:0;
}

#secure
{
	list-style-image: url("images/secure.png");
}

#secure[disabled="true"]
{
	list-style-image: url("images/secure_dis.png");
}

#warning
{
	color: red;
	text-decoration: blink;
}

#warning[disabled="true"]
{
	display: none;
}

#main
{
	min-width: 562px;
}

#main:-moz-system-metric(windows-classic)
{
	min-width: 550px;
}
#ifl_value
{
	min-height: 3.2em;
}
#ifl_value:not([type="multi"]) > .menulist-dropmarker
{
	display:none;
}
/*

#valueMenu,
#valueMenu > hbox,
#valueMenu > hbox > dropmarker
{
	min-width: 0;
	min-height: 0;
	margin-left: 0;
	padding: 0;
	background-color: transparent;
}
#valueMenu > hbox > dropmarker
{
	width: 10px;
}

*/

#ifl_value[type="multi"]
{
	margin-right: 0;
}
#valueMenu
{
	width: 2px !important;
	list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
	min-width: 0 !important;
	max-width: 2px !important;
	margin-left: 0;
	margin-bottom: 1px;
	margin-top: 1px;
	margin-right: 3px;
	padding: 0;
	border-width: 0;
}
#valueMenu .button-icon
{
	padding: 0;
	margin: 0;
}
#valueMenu dropmarker,
#valueMenu .button-text
{
	display: none;
}

.contentPane
{
	padding: 0;
	margin: 5px;
}



textbox[readonly="true"]
{
	background-color: -moz-Dialog;
	color: GrayText;
	opacity: 0.7;
}

#ifl_port
{
	width: 6em;
}
#ifl_port .menu-description
{
}

*[error]
{
	animation: shake-rotate 800ms 10 alternate;
}

#valuePopup > menuitem, menupopup > menu
{
	max-width: none;
}

#valuePopup autorepeatbutton
{
	display: none;
}

#valuePopup scrollbox
{
	overflow-y: auto !important;
}

#ifl_expires_Year
{
	width: 3em;
}

#buttons
{
	margin-bottom: 5px;
	margin-right: 0;
}
#buttons>button:last-child
{
	margin-right: 0;
}
#resizer
{
	margin-left: 0;
}

#oe-date-picker-popup
{
	margin: 1em;
}

@keyframes shake-rotate {
		2% {
				transform: translate(2px, 0) rotate(3.5deg)
		}
		4% {
				transform: translate(0, 0) rotate(4.5deg)
		}
		6% {
				transform: translate(0, 0) rotate(1.5deg)
		}
		8% {
				transform: translate(0, 0) rotate(2.5deg)
		}
		10% {
				transform: translate(0, -2px) rotate(3.5deg)
		}
		12% {
				transform: translate(0, 0) rotate(0.5deg)
		}
		14% {
				transform: translate(0, 0) rotate(-1.5deg)
		}
		16% {
				transform: translate(0, 0) rotate(-1.5deg)
		}
		18% {
				transform: translate(-2px, 0) rotate(1.5deg)
		}
		20% {
				transform: translate(0, 0) rotate(1.5deg)
		}
		22% {
				transform: translate(0, 0) rotate(3.5deg)
		}
		24% {
				transform: translate(0, 2px) rotate(1.5deg)
		}
		26% {
				transform: translate(0, 0) rotate(-0.5deg)
		}
		28% {
				transform: translate(0, 0) rotate(1.5deg)
		}
		30% {
				transform: translate(0, 0) rotate(1.5deg)
		}
		32% {
				transform: translate(0, 0) rotate(-3.5deg)
		}
		34% {
				transform: translate(-2px, 0) rotate(-1.5deg)
		}
		36% {
				transform: translate(0, 0) rotate(3.5deg)
		}
		38% {
				transform: translate(0, 0) rotate(1.5deg)
		}
		40% {
				transform: translate(0, 2px) rotate(-0.5deg)
		}
		42% {
				transform: translate(0, 0) rotate(3.5deg)
		}
		44% {
				transform: translate(2px, 0) rotate(1.5deg)
		}
		46% {
				transform: translate(0, 0) rotate(1.5deg)
		}
		48% {
				transform: translate(0, 0) rotate(3.5deg)
		}
		50% {
				transform: translate(0, -2px) rotate(0.5deg)
		}
		52% {
				transform: translate(0, 0) rotate(2.5deg)
		}
		54% {
				transform: translate(0, 0) rotate(1.5deg)
		}
		56% {
				transform: translate(0, 0) rotate(2.5deg)
		}
		58% {
				transform: translate(0, 0) rotate(-4.5deg)
		}
		60% {
				transform: translate(0, 0) rotate(-4.5deg)
		}
		62% {
				transform: translate(0, 0) rotate(1.5deg)
		}
		64% {
				transform: translate(0, 0) rotate(0.5deg)
		}
		66% {
				transform: translate(2px, 0) rotate(2.5deg)
		}
		68% {
				transform: translate(0, 0) rotate(2.5deg)
		}
		70% {
				transform: translate(0, 0) rotate(1.5deg)
		}
		72% {
				transform: translate(0, 0) rotate(1.5deg)
		}
		74% {
				transform: translate(0, 0) rotate(-2.5deg)
		}
		76% {
				transform: translate(0, 2px) rotate(1.5deg)
		}
		78% {
				transform: translate(0, 0) rotate(2.5deg)
		}
		80% {
				transform: translate(0, 0) rotate(-1.5deg)
		}
		82% {
				transform: translate(0, 0) rotate(-0.5deg)
		}
		84% {
				transform: translate(0, 0) rotate(2.5deg)
		}
		86% {
				transform: translate(0, 0) rotate(1.5deg)
		}
		88% {
				transform: translate(0, 0) rotate(0.5deg)
		}
		90% {
				transform: translate(0, 0) rotate(-0.5deg)
		}
		92% {
				transform: translate(-2px, 0) rotate(-1.5deg)
		}
		94% {
				transform: translate(0, 0) rotate(-0.5deg)
		}
		96% {
				transform: translate(0, 0) rotate(0.5deg)
		}
		98% {
				transform: translate(0, 0) rotate(-4.5deg)
		}
		0%,
		100% {
				transform: translate(0, -2px) rotate(0)
		}
	to {color: red; }
}

/* ..... checkbox readonly ..... */

checkbox.readonly,
checkbox.readonly *,
checkbox.readonly[checked="true"],
checkbox.readonly[checked="true"] *
{
	-moz-appearance: none;
	border: 0;
	background-color: transparent;
	margin: 0;
}

checkbox.readonly,
checkbox.readonly[checked="true"]
{
	-moz-binding: url("checkbox.xml#checkbox-button");
	border: 1px solid transparent;
}
checkbox.readonly:not([disabled="true"]),
checkbox.readonly[checked="true"]:not([disabled="true"])
{
	cursor: pointer;
}
checkbox.readonly:focus
{
	border: 1px dotted ThreeDDarkShadow;
}
checkbox.readonly .checkbox-check
{
	-moz-appearance: none;
	background-image: none;
	background-color: transparent;
	list-style-image: url("images/readwrite.png") !important;
	-moz-image-region: rect(0, 16px, 16px, 0);
}
checkbox.readonly[checked="true"] .checkbox-check
{
	-moz-appearance: none;
	background-image: none;
	background-color: transparent;
	list-style-image: url("images/readwrite.png") !important;
	-moz-image-region: rect(0, 32px, 16px, 16px);
}
checkbox.readonly[disabled="true"]
{
	opacity: 0.5;
}