#presets
{
	cursor: pointer;
}

#presets * .button-text,
.no-label * .button-text
{
	display: none;
}
#presets,
#presets > hbox,
#presets > hbox > dropmarker
{
	min-width: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

#test
{
	-moz-appearance: none;
	border: none;
	border-color: transparent;
	background-color: transparent;
}

textbox[multiline="true"]
{
	font-family: "courier new", "times new roman", fixed, monospace;
	-moz-tab-size: 2;
}

*[hidden="true"]
{
	display: none !important;
}

#main [tooltiptext],
#main [tooltiptext] > label,
#main [tooltiptext] groupbox > caption > label
{
	cursor: help;
}

#optionsBox > tabpanels
{
	padding: 3px;
}
#panelExport
{
	margin: 3px;
	padding: 3px;
}

.info
{
	font-style: italic;
}

#coomanPlusWindowOptions
{
	min-width: 430px;
	height: 39em;
}

spinbuttonsV
{
	-moz-binding: url("spinbuttons.xml#spinbuttonsV");
}

checkbox
{
	margin-left: 0;
}

.link,
.link *
{
	-moz-appearance: none;
	margin: 0;
	padding: 0;
	min-width: 0;
	min-height: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer !important;
}
.link:focus
{
	border-color: transparent;
}
