@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

textbox[type="password"]
{
	-moz-binding: url("chrome://cookiesmanagerplus/content/bindings/password.xml#password-textbox");
}

textbox[type="password"] .textbox-password-show
{
	list-style-image: url("images/showpass.png");
	opacity: 0.2;
	cursor: default;
}
textbox[type="password"] .textbox-password-show:hover
{
	opacity: 0.3;
}
textbox[type="password"][show] .textbox-password-show
{
	opacity: 0.6;
}
