/*
 * The contents of this file are subject to the Mozilla Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *
 * The Original Code is mozilla.org code
 *
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation.  Portions created by Netscape are
 * Copyright (C) 1998 Netscape Communications Corporation. All
 * Rights Reserved.
 *
 * Contributor(s):
 *   Michael Ryabushkin
 *
 */

#coomanPlus_button
{
	list-style-image: url("chrome://cookiesmanagerplus/skin/images/coomanPlus24.png");
	-moz-image-region: rect(0 24px 24px 0);
}

toolbar[iconsize="small"] #coomanPlus_button
{
	list-style-image: url("chrome://cookiesmanagerplus/skin/images/coomanPlus16.png");
	-moz-image-region: rect(0 16px 16px 0);
}
#coomanPlus_menuitem,
#coomanPlus_appmenu
{
	list-style-image: url("chrome://cookiesmanagerplus/skin/images/coomanPlus16.png");
}
